{% extends 'base.html' %}

{% block title %} Actualizar Empleados{% endblock title %}


{% block body %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">
            Modificar Empleados
        </h1>
        
        <div class="cell">
            <form class="grid-x grid-margin-x" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="cell large-6">
                    <label>Nombre
                            {{form.FirstName}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Apellidos
                        {{form.LastName}}
                    </label>
                </div>

                <div class="cell large-6">
                    <label>Trabajo
                        {{form.Jobs}}
                    </label>
                </div>

                <div class="cell large-6">
                    <label>Departamento
                        {{form.departament}}
                    </label>
                </div>

                <div class="cell large-6">
                    <label>Avatar
                        {{form.avatar}}
                    </label>
                </div>


                <div class="cell large-6">
                    <label>Apellidos
                        {{form.habilidades}}
                    </label>
                </div>
                <div class="cell">
                    <button type="submit" class="success button">Actualizar</button>
                </div>

            </form>
            
        </div>
        
    </div>
    
</div>

{% endblock body %}