
{% extends 'base.html' %}

{% block title %} Lista de Empleados {% endblock title %}


{% block body %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell"> Registrar Departamento</h1>
        <form method="post" class="callout cell grid-x grid-margin-x">{% csrf_token %}

            <div class="cell large-6">
                <label>Encargado de Departamento
                    {{form.Nombre}}
                </label>
            </div>


            <div class="cell large-6">
                <label>Apellidos
                    {{form.apellido}}
                </label>
            </div>


            <div class="cell large-6">
                <label>Nombre del departamento
                    {{form.departamento}}
                </label>
            </div>

            <div class="cell large-6">
                <label>Cargo del departamento
                    {{form.cargos}}
                </label>
            </div>


            <div class="cell large-6">
                <label>Short Name de Departamento
                    {{form.short_name}}
                </label>
            </div>

            <div class="cell large-12">
                <button class="submit success button">Guardar</button>
            </div>

        </form>

    </div>
</div>

{% endblock body %}




